<!-- Credentials -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="py-5" id="{{ site.data.sitetext[site.locale].credentials.section | default: "credentials" }}">
    <div class="container">
      <div class="row justify-content-center" {% if site.data.sitetext[site.locale].credentials.horizontal-scrolling == "yes" %} id="scrolling-credentials" {% endif %}>
	    {% for credential in site.data.sitetext[site.locale].credentials.list %}
        <div class="col-md-3 col-sm-6">
          <a href="{{ credential.url }}">
            <img class="img-fluid d-block mx-auto" src="{{ credential.logo }}" alt="{{ credential.title }}" style="max-height: {{ site.data.sitetext[site.locale].credentials.max-height | default: "100px" }}">
          </a>
        </div>
	    {% endfor %}
      </div>
    </div>
  </section>
{% else %}
<section class="py-5" id="{{ site.data.sitetext.credentials.section | default: "credentials" }}">
  <div class="container">
    <div class="row" {% if site.data.sitetext.credentials.horizontal-scrolling == "yes" %} id="scrolling-credentials" {% endif %}>
    {% for credential in site.data.sitetext.credentials.list %}
      <div class="col-md-3 col-sm-6">
        <a href="{{ credential.url }}">
          <img class="img-fluid d-block mx-auto" src="{{ credential.logo }}" alt="{{ credential.title }}" style="max-height: {{ site.data.sitetext.credentials.max-height | default: "100px" }}">
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}