<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg fixed-top"
  id="mainNav"
  style="background-color: #ebdcf9"
><!--#bed7d5-->
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
      {%- if site.logo -%}
      <img
        height="{{ site.logo.height | default: 52 }}"
        src="{{ site.baseurl }}/{{ site.logo.path }}"
      />
      {%- else -%} {{ site.title }} {%- endif -%}
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!--Menu--><i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% assign nav_links = site.locale | default: "en" %}
        {% assign nav_data = site.data.navigation[nav_links].nav %}
        
        {% for link in nav_data %}
          {% if link.subnav %}
            <!-- Parent item with subnav -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle js-scroll-trigger" href="{{ link.url | default: '#' }}" id="navDropdown{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ link.title }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navDropdown{{ forloop.index }}">
                {% for sub in link.subnav %}
                  <a class="dropdown-item js-scroll-trigger" href="{{ sub.url | default: '#' }}">{{ sub.title }}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
            <!-- Normal nav item -->
            <li class="nav-item">
              {% if link.url %}
                <a class="nav-link js-scroll-trigger" href="{{ link.url }}">{{ link.title }}</a>
              {% elsif link.section %}
                <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/#{{ link.section }}">{{ link.title }}</a>
              {% else %}
                <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->
