<!-- Resources Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].resources.section | default: "resources" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext[site.locale].resources.title | markdownify | default: "Resources" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].resources.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row justify-content-center g-4">
	{% for project in site.resources %}
      <div class="col-md-6 col-sm-12 d-flex">
        <div class="resources-item">
            <a class="resources-link" data-toggle="modal" href="#p{{ forloop.index }}">
            <div class="resources-hover">
                <div class="resources-hover-content">
                <i class="{{ site.data.style.resources-icon | default: "fas fa-plus fa-3x" }}"></i>
                </div>
            </div>
            <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
            </a>
            <div class="resources-caption">
            <h4>{{ project.caption.title }}</h4>
            <p class="text-muted">{{ project.caption.subtitle }}</p>
            </div>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.resources.section | default: "resources" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.data.sitetext.resources.title | markdownify | default: "Resources" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.resources.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row justify-content-center">
	{% for project in site.resources %}
      <div class="col-md-6 col-sm-12 d-flex mb-4">
        <div class="resources-item w-100">
            <a class="resources-link" data-toggle="modal" href="#p{{ forloop.index }}">
            <div class="resources-hover">
                <div class="resources-hover-content">
                <i class="{{ site.data.style.resources-icon | default: "fas fa-plus fa-3x" }}"></i>
                </div>
            </div>
            <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
            </a>
            <div class="resources-caption">
            <h4>{{ project.caption.title }}</h4>
            <p class="text-muted">{{ project.caption.subtitle }}</p>
            </div>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% include resources_modals.html %}
