<!-- Services -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="page-section{% if include.bg == 'light' %} bg-light{% endif %}" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-8 text-center mx-auto"><!---->
          <h2 class="section-heading">{{ site.data.sitetext[site.locale].services.title | default: "Services" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
		  <h3 class="section-subheading">{{ site.data.sitetext[site.locale].services.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row justify-content-center mx-auto">
	  {% for service in site.data.sitetext[site.locale].services.list %}
        <div class="col-md-4 col-lg-4">
          <!--<span class="fa-stack fa-4x">-->
            <!--<i class="fas fa-circle fa-stack-2x text-primary"></i>-->
            <!--<i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>--><!--{{ service.icon | default: "fas fa-shopping-cart" }}-->
          <!--</span>-->
          <!-- <h4 class="service-heading">{{ service.title | markdownify }}</h4> -->
          <h4 class="service-heading"><a {% if service.anchor %}class="js-scroll-trigger"{% endif %} href="{{ site.baseurl }}/{{ service.url }}">{{ service.title | markdownify }}</a></h4>
          {% if service.desc %}<div>{{ service.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
{% else %}
<section class="page-section{% if include.bg == 'light' %} bg-light{% endif %}" id="{{ site.data.sitetext.services.section | default: "services" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 text-center mx-auto"><!--text-center-->
        <h2 class="section-heading">{{ site.data.sitetext.services.title | default: "Services" }}</h2>
        {% if site.data.sitetext.services.text %}
    <h3 class="section-subheading">{{ site.data.sitetext.services.text }}</h3>
    {% endif %}
      </div>
    </div>
  
    <div class="row"><!--text-center-->
  {% for service in site.data.sitetext.services.list %}
      <div class="col-md-4 col-lg-4 mx-auto">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ service.title | markdownify }}</h4>
        {% if service.desc %}<div>{{ service.desc | markdownify }}</div>{% endif %}
      </div>
  {% endfor %}
    </div>
  
  </div>
</section>
{% endif %}
<!-- End Services -->