<!-- Team -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].testimonial.section | default: 'testimonial' }}">
  <div class="container py-5">
    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
      
      <!-- Indicators -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="testimonial-box mx-auto">
            <p>“Amy is a leadership coach with a unique ability to deeply listen. She is excellent in providing a reflective calming space for me to both process my thoughts and recognize what is most essential. Amy is also one of the most kind hearted people I know, and I am appreciative of our coaching sessions as each one provides a place for me to optimally integrate my learnings and to show up as both a highly self-aware human being and a well grounded leader.” - KingL, Executive Leadership & Global Scaling Coach</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-box mx-auto">
            <p>“Amy’s use of powerful questioning challenges me to think deeply and uncover insights I hadn’t considered, which helps me with my goals and motivations. Her ability to reframe perspectives enables me to see challenges in a more positive light, turning obstacles into opportunities for growth. The focus on mindset shifts has been transformative, as it helps me to use growth-oriented approach, and taking setbacks as learning experiences rather than failures.” – LizM, Data Scientist</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="testimonial-box mx-auto">
            <p>“Amy has been helpful in unfolding the challenges I face at work based on my developmental goals. She is resourceful, encouraging and able to provide constructive feedback to work on my strengths and weaknesses areas.” – ChristyT, Product Manager</p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon custom-control-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon custom-control-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>
  </div>
</section>
<!-- <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].testimonial.section | default: "testimonial" }}">
<div class="container">
    <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
        <p>“Amy is a leadership coach with a unique ability to deeply listen. She is excellent in providing a reflective calming space for me to both process my thoughts and recognize what is most essential. Amy is also one of the most kind hearted people I know, and I am appreciative of our coaching sessions as each one provides a place for me to optimally integrate my learnings and to show up as both a highly self-aware human being and a well grounded leader.” - KingL, Executive Leadership & Global Scaling Coach</p>
        </div>
        <div class="carousel-item">
            “Amy’s use of powerful questioning challenges me to think deeply and uncover insights I hadn’t considered, which helps me with my goals and motivations. Her ability to reframe perspectives enables me to see challenges in a more positive light, turning obstacles into opportunities for growth. The focus on mindset shifts has been transformative, as it helps me to use growth-oriented approach, and taking setbacks as learning experiences rather than failures.” – LizM, Data Scientist
        <!-- <img class="d-block w-100" src="..." alt="Second slide"> -->
        </div>
        <div class="carousel-item">
            <p>“Amy has been helpful in unfolding the challenges I face at work based on my developmental goals. She is resourceful, encouraging and able to provide constructive feedback to work on my strengths and weaknesses areas.” – ChristyT, Product Manager</p>
        <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
  <!-- <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].team.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].team.text }}</h3>
	</div>
  </div> -->
  <!-- <div class="row d-flex justify-content-center">
  {% for person in site.data.sitetext[site.locale].team.people %}
	<div class="col-sm-4">
	  <div class="team-member">
		<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
		<h4>{{ person.name }}</h4>
		<p class="text-muted">{{ person.role }}</p>
		<ul class="list-inline social-buttons">
		{% for network in person.social %}
		  <li class="list-inline-item">
			<a href="{{ network.url }}">
			  <i class="{{ network.icon }}"></i>
			</a>
		  </li>
		{% endfor %}
		</ul>
	  </div>
	</div>
  {% endfor %}
  </div> -->
  <!-- <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext[site.locale].team.subtext | markdownify }}</div>
	</div>
  </div> -->
</div>
</section> -->
{% else %}
<section class="page-section" id="{{ site.data.sitetext.team.section | default: "team" }}">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12 text-center">
		  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.team.title }}</h2>
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
		</div>
	  </div>
	  <div class="row d-flex justify-content-center">
	  {% for person in site.data.sitetext.team.people %}
		<div class="col-sm-4">
		  <div class="team-member">
			<img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">
			<h4>{{ person.name }}</h4>
			<p class="text-muted">{{ person.role }}</p>
			<ul class="list-inline social-buttons">
			{% for network in person.social %}
			  <li class="list-inline-item">
				<a href="{{ network.url }}">
				  <i class="{{ network.icon }}"></i>
				</a>
			  </li>
			{% endfor %}
			</ul>
		  </div>
		</div>
	  {% endfor %}
	  </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto text-center">
		  <div class="large text-muted">{{ site.data.sitetext.team.subtext | markdownify }}</div>
		</div>
	  </div>
	</div>
</section>
{% endif %}
<!-- End Team -->
