// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #1cabb0; //deeppink;//#1cabb0;//$primary;
  border-color: #1cabb0;//deepskyblue;//#1cabb0;//$primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken(#1cabb0, 7.5%) !important;//green, darken($primary, 7.5%) !important; #1cabb0
    border-color: darken(#1cabb0, 7.5%) !important;//indianred, darken($primary, 7.5%) !important; #1cabb0
    color: khaki;//white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem lawngreen !important;//rgba(254, 209, 55, 0.5) !important;
  }
}
