// Styling for the navbar
#mainNav {
  background-color: #ebdcf9;//AliceBlue;// black;//$gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #4910bc;//text of menu//Aqua;
    border: 0;
    background-color: #1cabb0; //menu button//orchid;//#1cabb0;//$primary;
    @include heading-font;
    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(28, 171, 176, 0.35);
    }
  }
  .navbar-brand {
    color: #4910bc;//palevioletred;//#1cabb0;//$primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken(#4910bc, 100%);//darken(#ebdcf9, 10%);//darken(saddlebrown, 10%);//darken($primary, 10%);#1cabb0
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: #4910bc; //Text of navbaraquamarine;// white;
        @include heading-font;
        &.active,
        &:hover {
          color: darken(#4910bc, 100%);//#4910bc;//#24085b;//blueviolet;//#1cabb0;//$primary;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #ebdcf9; //lighter purple navbar rebeccapurple;//transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #ebdcf9;//brown;//#bed7d5;//$gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
