---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container page-section" id="pagecontainer">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-8 mx-auto text-center bg-light">

      {% if page.title %}
        <h2 class="section-heading">{{ page.title }}</h2>
      {% endif %}

      {% if page.subtitle %}
        <h3 class="section-subheading">
          {{ page.subtitle }}
        </h3>
      {% endif %}

      {% if page.cta_link and page.cta_text %}
        <div class="mt-2">
          <a
            class="btn btn-primary btn-xl js-scroll-trigger"
            href="{{ page.cta_link }}"
          >
            {{ page.cta_text }}
          </a>
        </div>
      {% endif %}

      {% if page.image %}
        <div class="page-hero mt-4">
          <img
            src="{{ page.image }}"
            alt="{{ page.title }}"
            class="img-fluid rounded"
          >
        </div>
      {% endif %}

    </div>
  </div>

  <!-- Divider -->
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <hr class="my-5">
    </div>
  </div>

  <!-- Page Content -->
  <div class="row">
    <div class="col-lg-8 mx-auto">
      {{ content }}
    </div>
  </div>

  <!-- Bottom CTA -->
  {% if page.cta_link and page.cta_text %}
  <div class="row">
    <div class="col-lg-8 mx-auto text-center my-5">
      <a
        class="btn btn-primary btn-xl js-scroll-trigger"
        href="{{ page.cta_link }}"
      >
        {{ page.cta_text }}
      </a>
    </div>
  </div>
  {% endif %}

  {% if page.cta_event %}
{% assign event_ts = page.date | date: "%s" %}
{% assign now_ts = "now" | date: "%s" %}

{% if event_ts < now_ts %}
  {% assign is_past_event = true %}
{% else %}
  {% assign is_past_event = false %}
{% endif %}

  <div class="text-center my-5">
    {% if is_past_event %}
      <button
        class="btn btn-secondary btn-xl disabled qll-event-cta--past"
        aria-disabled="true"
      >
        Registration closed
      </button>
    {% else %}
      <a
        href="{{ page.cta_event.url }}"
        class="luma-checkout--button btn btn-primary btn-xl"
        data-luma-action="checkout"
      >
        {{ page.cta_event.text }}
      </a>

      <script src="https://embed.lu.ma/checkout-button.js"></script>
    {% endif %}
  </div>
{% endif %}



</div>