// Styling for the contact section
section#contact {
  background-color: #b7a0e7;//thistle;//$gray-900;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: #1cabb0;//teal;//$white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: #1cabb0;//steelblue;////primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: #1cabb0;//seagreen;//$gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: #1cabb0;//salmon;//$gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: #1cabb0;//royalblue;//$gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: #1cabb0;//plum;//$gray-400;
    @include heading-font;
  }
}
