// Styling for the masthead
header.masthead {
  margin-top: 78px; // mobile navbar height
  text-align: center;
  color: #4910bc;//darkcyan;////yellow;//white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    margin-top: 78px; // desktop navbar height
    .intro-text {
      // padding-top: 300px;
      // padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
// @media (min-width: 768px) {
//   header.masthead {
//     margin-top: 78px;
//     display: flex;
//     align-items: center;            // vertical centering; change to flex-start to nudge up
//     justify-content: center;        // horizontal centering
//     min-height: calc(100vh - 78px); // full viewport minus navbar height
//     padding: 0;                     // remove large fixed paddings used on mobile

//     .intro-text {
//       padding: 0 15px; // small horizontal padding for breathing room

//       // Desktop lead-in sizing
//       .intro-lead-in {
//         font-size: 40px;
//         font-style: italic;
//         line-height: 40px;
//         margin-bottom: 25px;
//         @include serif-font;
//       }

//       .intro-heading {
//         font-size: 75px;
//         font-weight: 700;
//         line-height: 75px;
//         margin-bottom: 50px;
//         @include heading-font;
//       }

//       // If you want the content a bit higher than center, change align-items above:
//       // align-items: flex-start; and add a top padding here, e.g. padding-top: 120px;
//     }
//   }
// }

