// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: #1cabb0;//coral;//$primary;
  &:hover { //#1cabb0
    color: darken(#1cabb0, 10%);//($primary, 10%); coral
  }
}

.text-primary {
  color: crimson !important;//#1cabb0 !important;//$primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
  color: #4a10bc;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: cornflowerblue;//#1cabb0;//$primary;
  text-shadow: none;
}

::selection {
  background: darkgoldenrod;//#1cabb0;//$primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
